body{
	background-image:  url(../img/bird.gif), url(../img/center.jpg), url(../img/baloon.jpg),  url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size:30%,50%,20%, cover;
	background-attachment: fixed;
	background-position: right 10%,center 5%, left 10%,center;

	
}
.cont{
	width: 400px;
	background-color: rgba(0,0,0,0,0.5);
	min-height: 1000px;
	padding: 30px;
	margin: 0 auto;
	color: black;
	font-size: 20px;
}